@font-face {
  font-family: Norse-Bold;
  src: url(assets/Norse-Bold.otf);
}

@font-face {
  font-family: Cal-Sans;
  src: url(assets/CalSans-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  font-family: Cal-Sans;
}

body {
  display: flex;
  background-color: whitesmoke;
}

.odin {
  display: flex;
  position: absolute;
  width: 300px;
  height: 120px;
  background-color: rgb(0, 0, 0, 0.5);
  padding: 20px 150px 20px 150px;
  margin-top: 100px;
}

.logo-image {
  width: 100px;
  height: 120px;
}

.logo-text {
  color: white;
  font-size: 140px;
  width: 320px;
  font-family: Norse-Bold;
  padding-top: 8px;
}

.credits {
  position: absolute;
  top: 760px;
  padding-left: 190px;
  padding-right: 190px;
  width: 230px;
  height: 20px;
  color: white;
  opacity: 0.6;
}

.credits > a {
  text-decoration: underline;
  color: white;
}

.background-image {
  width: 600px;
  height: 800px;
}

.secondary-container {
  margin: 120px 0px 200px 0px;
}

.primary-text {
  margin-bottom: 20px;
  margin-left: 40px;
}

.secondary-text {
  margin-bottom: 40px;
  margin-left: 40px;
}

.teritary-text {
  margin-bottom: 20px;
}

.form-container {
  background-color: white;
  padding: 20px 100vw 20px 40px;
}

.name-section,
.other-section,
.password-section {
  display: flex;
  gap: 40px;
}

.credentials {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 0.6rem;
}
input {
  width: 180px;
  height: 22px;
  border: 1px solid lightgray;
  border-radius: 2px;
}

.create-account-button {
  margin-top: 20px;
  margin-left: 40px;
  padding: 10px 30px 10px 30px;
  border-radius: 6px;
  border-style: none;
  background-color: #596d48;
  color: white;
}

.login-text {
  margin-top: 20px;
  margin-left: 40px;
}

.login-text > a {
  color: #596d48;
  text-decoration: none;
}
